{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row my-auto">
    <section class="pt-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-lg-1 order-2 my-auto">
            <h2 class="font-weight-bold banner-title">Reset Password</h2>
            <form method="post">
              {% csrf_token %}
              {{ form | crispy }}
              <button type="submit" class="btn btn-lg bg-brand rounded text-white font-weight-bold btn-sm-w100">Reset My Password</button>
            </form>
          </div>
          <div class="col-lg-6 col-12 order-lg-2 order-1 my-auto">
            <img src="../../../../static/images/passwordauth.png" alt="doctors" class="img-fluid banner-image  mt-0-sm">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
