{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <section class="pt-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-lg-1 order-2 my-auto">
            <div class="text-brand bg-brand-light py-4 mb-4 rounded text-center font-weight-bold">
              Email Sent Successfully!
            </div>
            <p>
              We've emailed you instructions for resetting your password.
              You should receive them shortly.
            </p>
            <p class="mb-3">
              If you don't receive an email, please make sure you have
              entered the email address you registered with
              and check your spam folder.
            </p>
            <a class="rounded bg-white text-brand mt-4 font-weight-bold py-3 underline-none" href="{% url 'login' %}">Go to Login Page<span class="text-brand arrow-icon">&rarr;</span></a>
          </div>
          <div class="col-lg-6 col-12 order-lg-2 order-1 my-auto">
            <img src="../../../../static/images/mail.png" alt="doctors" class="img-fluid banner-image  mt-0-sm">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
